html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

p {
    margin: 0;
    padding: 0;
}

.main {
    display: flex;
    flex-direction: column;

    height: 100%;
    width: 100%;
}

.top {
    padding: 0 6px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 4px;
}

.modal {
    display: none; /* Hidden by default */
    position: fixed;
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
    max-width: 500px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    animation: animateModal 0.3s;
    box-sizing: border-box;
}

@keyframes animateModal {
    from {transform: scale(0.8);}
    to {transform: scale(1);}
}

.modal-title {
    font-size: 20px;
    margin-bottom: 10px;
}

.modal-textarea {
    width: 100%;
    height: 300px;
    padding: 10px;
    box-sizing: border-box;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    resize: none;
}

.modal-buttons {
    display: flex;
    justify-content: flex-end;
}

.modal-button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    margin-left: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.modal-button:hover {
    background-color: #45a049;
}

.modal-button#promptCancelButton {
    background-color: #f44336;
}

.modal-button#promptCancelButton:hover {
    background-color: #e53935;
}


.media {
    /* flex: 1; */
    overflow: auto;

    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: start;
    padding: 10px;
    background-color: #f9f9f9; 
    /* align-items: flex-start; */
}

.media-item {
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 8px; 
    background-color: #fff; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
    width: 320px; 
    min-height: 100px; 
    overflow: hidden; 
    text-align: left; 
    transition: transform 0.3s ease; 
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
}

button,a,.media-item-folder,.touchable {
    cursor: pointer;
}

.loading-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5em;
    color: #333;
    z-index: 1000;
    display: none; /* Initially hidden */
    color: #3498db;
}

.media-item:hover {
    transform: translateY(-5px); 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
}

img, video {
    width: 100%;
    height: 240px; 
    border-radius: 4px; 
    margin-bottom: 10px; 
    vertical-align: middle;
    cursor: pointer;
}

video {
    object-fit: cover;
    background: linear-gradient(to bottom, white, black);
}

.media-item p {
    margin: 5px 0;
    color: #333; 
    font-size: 12px; 
    line-height: 1.4; 
    word-wrap: break-word;
    word-break: break-all;
    vertical-align: middle;
}

.media-item button {
    display: inline-block;
    margin: 10px 0 0 10px;
    background-color: #ff4d4d; 
    color: #fff; 
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease; 

    padding: 0 8px;
    font-size: 10px;
    height: 18px;
    line-height: 18px;
}

button.warn-button {
    background-color: #e6a23c;
}

.media-item button.warn-button:hover {
    background-color: #d18b2d; 
}

.media-item button.delete-button {
    margin-left: 0;
}

.media-item button.delete-button:hover {
    background-color: #f03030; 
}

.media-item>.item-footer>a {
    display: inline-block;
    margin: 10px 0 0 10px;
    background-color: #3498db; 
    color: #fff; 
    border-radius: 4px;
    text-decoration: none; 
    transition: background-color 0.3s ease; 

    padding: 0 8px;
    font-size: 10px;
    height: 18px;
    line-height: 18px;
}

.media-item>.item-footer>a:hover {
    background-color: #0056b3; 
}

button, input[type='file'] {
    display: inline-block;
    padding: 4px 8px;
    font-size: 12px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    color: #fff;
    background-color: #3498db;
    border: none;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s, box-shadow 0.3s;
    cursor: pointer;
}

input[type='file'] {
    padding: 2px 4px;
    width: 180px;
    font-size: 12px;
}

button:hover {
    background-color: #2980b9;
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.1);
}

button:active {
    background-color: #2471a3;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.top-form {
    display: block;
    padding: 0 0 4px 0;
    border-bottom: 1px solid #ccc;
    text-align: right;
}

#progressBar {
    vertical-align: middle;
    margin: 0 2px 0 0;
}

#progressBarValue {
    display: inline-block;
    color: #999;
    font-size: 10px;
    vertical-align: middle;
}

.media-item .rename-button {
    margin-left: 10px;
    padding: 5px 10px;
    background-color: #ffc107; 
    color: #fff; 
    border-radius: 4px;
    text-decoration: none; 
    transition: background-color 0.3s ease; 
    cursor: pointer;
}

.media-item .rename-button:hover {
    background-color: #e0a800; 
}

.toast {
    visibility: hidden; /* 隐藏 */
    min-width: 250px;
    margin-left: -125px;
    background-color: #f0f8ff; /* 浅背景色 */
    color: #000; /* 文字颜色 */
    text-align: center;
    border-radius: 2px;
    padding: 8px;
    position: fixed;
    z-index: 9999;
    left: 50%;
    top: 20px; /* 靠顶部 */
    font-size: 17px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    border: 1px solid #ddd;
}

/* 显示toast通知 */
.toast.show {
    visibility: visible;
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

/* 不同类型的样式 */
.toast.info {
    background-color: #d9edf7;
    color: #31708f;
}

.toast.success {
    background-color: #dff0d8;
    color: #3c763d;
}

.toast.warn {
    background-color: #fcf8e3;
    color: #8a6d3b;
}

.toast.error {
    background-color: #f2dede;
    color: #a94442;
}

@-webkit-keyframes fadein {
    from { top: 0; opacity: 0; }
    to { top: 20px; opacity: 1; }
}

@keyframes fadein {
    from { top: 0; opacity: 0; }
    to { top: 20px; opacity: 1; }
}

@-webkit-keyframes fadeout {
    from { top: 20px; opacity: 1; }
    to { top: 0; opacity: 0; }
}

@keyframes fadeout {
    from { top: 20px; opacity: 1; }
    to { top: 0; opacity: 0; }
}


.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

.modal-content {
    margin: auto;
    display: block;
    margin-top: 1%;
    height: 96%;
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
    animation-name: zoom;
    animation-duration: 0.6s;
}

.txt-modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    background-color: #fff; /* Fallback color */
}

.txt-modal-content {
    margin: auto;
    display: block;
    height: 100%;
    max-width: 100%;
    max-height: calc(100% - 40px);
    object-fit: contain;
    background-color: #fff;
    padding: 0 10px;
    margin: 10px auto;
    overflow: auto;
}


.txt-modal-btns {
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 6px;
}

#txtFileName {
    max-width: 400px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: no-warp;
    margin-right: auto;
}

.grey-color {
    color: #999;
    font-size: 12px;
    line-height: 24px;
}

.btn-txt-model-close {
    
}


.btn-search {
    position: relative;
}

.btn-search>.search-tips {
    position: absolute;
    transition: all 0.3s;
    left: -140px;
    top: 28px;
    display: block;
    text-align: center;
    white-space: nowrap;
    color: #DD0000;
    font-size: 10px;
    opacity: 0;
    display: none;
}

#inputSearch {
    width: 90px;
}


.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #fff;
    z-index: 1000;
    color: #000;
    font-size: 12px;
    padding: 6px;
  }

  .overlay-content {
    position: relative;
    padding: 12px;
    text-align: left;
    max-width: 100%;
    max-height: 100%;
    overflow: auto;
  }

  .close-btn {
    position: absolute;
    top: 10px;
    right: 20px;
    background: red;
    color: white;
    border: none;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    cursor: pointer;
    font-size: 15px;
  }

@keyframes zoom {
    from {transform: scale(0)}
    to {transform: scale(1)}
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
    .modal-content {
        width: 100%;
    }
}


/* 不足两列 */
@media (max-width: 732px) {
    .media {
        justify-content: center;
    }

    .media-item {
        width: 100%; 
        min-height: 0;
    }
}
